<div class="container">
  <h2>{{title}}</h2>
  <hr>

  <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <!-- Links -->
    <ul class="navbar-nav">
      <li class="nav-item">
        <a routerLink="employees" class="btn btn-primary active" role="button" routerLinkActive="active">Employees</a>
      </li>
      <li class="nav-item" style="margin-left: 10px;">
        <a routerLink="add" class="btn btn-primary active" role="button" routerLinkActive="active">Add New Employee</a>
      </li>
      <li class="nav-item" style="margin-left: 10px;">
        <a routerLink="finance" class="btn btn-primary active" role="button" routerLinkActive="active">Finance Dept</a>
      </li>
    </ul>

  </nav>
  <router-outlet></router-outlet>
</div>