<div class="panel panel-default">
  <div class="panel-heading">
  </div>
  <div class="panel-body">
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th>Ids</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>

            <select [(ngModel)]="employee">
              <option [value]="employee" *ngFor="let employee of employeeslist "> {{employee}}</option>
            </select>
          </td>
          <td>
            <input type="button" value="Display Details" (click)="getEmpById(employee)">
          </td>
        </tr>
        <tr>
          <td> {{empobj.id}} </td>
          <td> {{empobj.firstName}} </td>
          <td> {{empobj.lastName}} </td>
          <td> {{empobj.emailId}} </td>
          <td> {{empobj.annPack}} </td>
          <td>{{empobj.pan}} </td>
          <td><button (click)="deleteEmployee(empobj.id)">Delete</button></td>
        </tr>
      </tbody>
    </table>

  </div>
</div>