<table>
    <tbody>

        
        <td>
            <input type="button" value="Submit TDS for All Employees " (click)="transferTDS()">  
              </td>
              <tr>                              
                  <td>Tax deduction of {{count}} employee records </td>     
             </tr> 
    </tbody>
  </table>
