<div [hidden]="submitted" style="width: 400px;">
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">First Name : </label>
      <input type="text" class="form-control" id="firstName" required [(ngModel)]="employee.firstName" name="firstName">
    </div>

    <div class="form-group">
      <label for="name">Last Name : </label>
      <input type="text" class="form-control" id="lastName" required [(ngModel)]="employee.lastName" name="lastName">
    </div>

    <div class="form-group">
      <label for="name">Email Id : </label>
      <input type="text" class="form-control" id="emailId" required [(ngModel)]="employee.emailId" name="emailId">
    </div>
    <div class="form-group">
      <label for="name">Annual Pack : </label>
      <input type="text" class="form-control" id="annPack" required [(ngModel)]="employee.annPack" name="annPack">
    </div>
    <div class="form-group">
      <label for="name">Pan Card No : </label>
      <input type="text" class="form-control" id="panNo" required [(ngModel)]="employee.panNo" name="panNo">
    </div>

    <button type="submit" class="btn btn-success">Submit</button>
  </form>
</div>

<div [hidden]="!submitted">
  <h4>You submitted successfully!</h4>
</div>




<!--  								
<div class="col-md-6 col-md-offset-2">											
    <h2>Edit User        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;                     											
    <button class="btn btn-danger" (click)="logOutUser()"> LogOff</button> </h2>											
    <br/>											
    <form [formGroup]="editForm" (ngSubmit)="onSubmit()">											
                                              
      <div class="form-group">											
        <label for="firstName">First Name:</label>											
        <input formControlName="firstName" placeholder="First Name" name="firstName" class="form-control" id="firstName">											
        <div *ngIf="submitted && editForm.controls.firstName.errors" class="error">											
          <div class="text-danger" *ngIf="editForm.controls.firstName.errors.required">FirstName is required</div>											
        </div>											
      </div>											
                                              
      <div class="form-group">											
        <label for="lastName">Last Name:</label>											
        <input formControlName="lastName" placeholder="Last name" name="lastName" class="form-control" id="lastName">											
        <div *ngIf="submitted && editForm.controls.lastName.errors" class="error">											
          <div class="text-danger" *ngIf="editForm.controls.lastName.errors.required">LastName is required</div>											
        </div>											
      </div>											
                                              
      <div class="form-group">											
        <label for="email">Email address:</label>											
        <input type="email" formControlName="email" placeholder="Email" name="email" class="form-control" id="email">											
        <div *ngIf="submitted && editForm.controls.email.errors" class="error">											
          <div class="text-danger" *ngIf="editForm.controls.email.errors.required">Email is required</div>											
        </div>											
      </div>											
                                                  
      <button class="btn btn-success">Update</button>&nbsp; &nbsp;											
       <br/><br/>											
    </form>											
  </div>									
 -->
<!-- 
    <form [formGroup]="editForm" (ngSubmit)="onSubmit()">											
                                              
        <div class="form-group">											
          <label for="firstName">First Name:</label>											
          <input formControlName="firstName" placeholder="First Name" name="firstName" class="form-control" id="firstName">											
            <div *ngIf="submitted && editForm.controls.firstName.errors" class="error">											
            <div class="text-danger" *ngIf="editForm.controls.firstName.errors.required">FirstName is required</div>											
          </div>											
        </div>	
    </form>			 -->